@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/table/lib/css/table.css";

.bp3-navbar.bp3-dark, .bp3-navbar.bp3-dark .bp3-button {
  background-color: #000;
}

.bp3-card {
  border-radius: 0px;
}

.starter-card {
  margin: 10px 0px;
  width: 100%;
}

.starter-header {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #e1e8ed;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.starter-header .bp3-button-group {
  float: right;
}

.datasets {
  clear: both;
  justify-content: flex-start;
}

.datasets .menu {
  display: flex;
  width: 20%;
  float: left;
  padding: 0 20px 0 0;
  align-items: stretch;
}

.datasets .content {
  width: 80%;
  display: flex;
  align-items: stretch;
}